<footer class="player fixed-bottom" >
	<!--<div class="radioplayer"-->
	<!--	data-src="https://s2.radio.co/sd7bdcdb96/listen"-->
	<!--	data-autoplay="false"-->
	<!--	data-playbutton="true"-->
	<!--	data-volumeslider="true"-->
	<!--	data-elapsedtime="false"-->
	<!--	data-nowplaying="true"-->
	<!--	data-showplayer="true"-->
	<!--	data-showartwork="false"-->
	<!--data-volume="50">-->
	<!--</div>-->
	<div class="player__widget">
		<script src="https://embed.radio.co/player/5cebb08.js"></script>
	</div>
	<!--<div class="radioplayer"-->
	<!--	data-src="https://s2.radio.co/sd7bdcdb96/listen"-->
	<!--	data-playbutton="true"-->
	<!--	data-volumeslider="false"-->
	<!--	data-elapsedtime="false"-->
	<!--	data-nowplaying="true"-->
	<!--	data-showplayer="false">-->
	<!--</div>-->
	
	<div class="player__icon-links pr-5">
		<a href="mailto:?subject=Check out what's playing on SutroFM!&body=Tune in! https://www.sutrofm.net">
			<i class="fas fa-envelope-square"></i>	
		</a>
		<a href="https://twitter.com/intent/tweet?text=Check%20out%20what%27s%20playing%20on%20www.sutrofm.net!%20@fm_sutro" target="_blank">
			<i class="fab fa-twitter-square"></i>	
		</a>
		<a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A//www.sutrofm.net">
			<i class="fab fa-facebook"></i>	
		</a>
	</div>
</footer>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://public.radio.co/playerapi/jquery.radiocoplayer.min.js"></script>
<script>$('.radioplayer').radiocoPlayer();</script>