<!DOCTYPE html>
<!--[if lte IE 6]><html class="preIE7 preIE8 preIE9"><![endif]-->
<!--[if IE 7]><html class="preIE8 preIE9"><![endif]-->
<!--[if IE 8]><html class="preIE9"><![endif]-->
<!--[if gte IE 9]><!--><html><!--<![endif]-->
  <head>
    <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>sutrofm</title>
  <meta name="author" content="Michael Claus">
  <meta name="description" content="SutroFM Online Radio Station">
  <meta name="keywords" content="Sutro FM Online Radio San Francisco California">

  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.css">
  <!-- Custom fonts for this template -->

  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="fonts/stylesheet.css" type="text/css" charset="utf-8" />
  <link href="https://fonts.googleapis.com/css?family=Cutive+Mono" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet" />

  <!-- my CSS -->
  <link rel="stylesheet" href="styles/styles.css" />
  </head>
<body>
  
  <!--Expandable menu-->
  <ul class="nav collapse social-connect-icons">
    <li class="nav-item pl-2">
      <a class="navbar-brand" href="mailto:mclausaudio@gmail.com?subject=Inquiry - SutroFM Admin">
        <i class="fas fa-envelope-square"></i>
      </a>
    </li>
    <li class="nav-item pl-2">
      <a class="navbar-brand" href="https://www.facebook.com/sutrofm" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </li>
    <li class="nav-item pl-2">
      <a class="navbar-brand" href="https://twitter.com/fm_sutro" target="_blank">
        <i class="fab fa-twitter-square"></i>
      </a>
    </li>
    <li class="nav-item pl-2">
      <a class="navbar-brand" href="https://www.instagram.com/sutrofm/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>
    </li>
  </ul>
  <!--End of expandable menu-->
  
  <nav class="navbar navbar-expand-lg justify-content-between fixed-top">
    <div class="navbar-brand">
      <a class="nav-link toggle-btn" data-toggle="collapse" href="#sidemenu" role="button" aria-expanded="false" aria-controls="collapseExample"><i class="fa fa-bars"></i></a> 
    </div>
    <div class="navbar-brand">
      <a class="nav-link nav__logo" href="/"><em>...sutrofm</em></a>  
    </div>
    <div class="navbar-brand">
      <i class="fa fa-share-alt fa-flip-horizontal social-connect-btn"></i>
    </div>
  </nav>
  
      <!-- Contents of collapsed menu -->
  <ul class="nav flex-column collapse nav-left-side">
    <li class="nav-item">
      <a class="nav-link" href="/schedule" data-toggle="tooltip" data-html="true" data-placement="right" title="Schedule">
        <i class="far fa-calendar-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="Shows <sup style='color:red'> coming soon</sup>">
        <i class="fas fa-headphones-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chat" data-toggle="tooltip" data-html="true" data-placement="right" title="Chat">
        <i class="far fa-comments"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="News <sup style='color:red'> coming soon</sup>">
        <i class="far fa-newspaper"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="About <sup style='color:red'> coming soon</sup>">
        <i class="fas fa-info-circle"></i>
      </a>
    </li>
  </ul>
  <!-- End of collapse menu contents -->

