    <!-- Contents of collapsed menu -->
  <ul class="nav flex-column collapse nav-left-side">
    <li class="nav-item">
      <a class="nav-link" href="/schedule" data-toggle="tooltip" data-html="true" data-placement="right" title="Schedule">
        <i class="far fa-calendar-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="Shows <sup style='color:red'> coming soon</sup>">
        <i class="fas fa-headphones-alt"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/chat" data-toggle="tooltip" data-html="true" data-placement="right" title="Chat">
        <i class="far fa-comments"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="News <sup style='color:red'> coming soon</sup>">
        <i class="far fa-newspaper"></i>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#" data-toggle="tooltip" data-html="true" data-placement="right" title="About <sup style='color:red'> coming soon</sup>">
        <i class="fas fa-info-circle"></i>
      </a>
    </li>
  </ul>
  <!-- End of collapse menu contents -->