<% include ./partials/header %>


<section class="container text-center">
    <h1 class="section-title">Chat</h1>
    <iframe src='https://minnit.chat/SutroFM?embed&gray' width='1000' height='500' style='border:none;' allowTransparency='true'></iframe>
</section>


<% include ./partials/footer %>