<% include ./partials/header %>


<section id="hero">
  <video playsinline autoplay muted loop poster="img/estudy.jpg">
  <!--<source src="CGI Animation Of Water.mp4" type="video/mp4">-->
  <source src="static1.mp4" type="video/mp4">
  </video>
  <div class="overlay"></div>
  <div class="hero-text">
      <span class="letter">S</span><span class="letter">u</span><span class="letter">t</span><span class="letter">r</span><span class="letter">o</span><span class="letter">F</span><span class="letter">M</span>
  </div>
</section>




<footer class="player" >

	
		<div class="radioplayer"
	data-src="https://s2.radio.co/sd7bdcdb96/listen"
	data-playbutton="true"
	data-volumeslider="false"
	data-elapsedtime="false"
	data-nowplaying="true"
	data-showplayer="false"></div>
	
		
	<!--	<div class="container"><span class="radioplayer"-->
	<!--data-src="https://s2.radio.co/sd7bdcdb96/listen"-->
	<!--data-playbutton="true"-->
	<!--data-volumeslider="false"-->
	<!--data-elapsedtime="false"-->
	<!--data-nowplaying="true"-->
	<!--data-showplayer="false"></span></div>-->
	
	
	
</footer>


  </body>
<script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="https://public.radio.co/playerapi/jquery.radiocoplayer.min.js"></script>
<script>$('.radioplayer').radiocoPlayer();</script>