<% include ./partials/header %>


<section class="container text-center">
    <h1 class="section-title">Schedule</h1> 
    

<marquee behavior="scroll" direction="left" scrollamount="8">
    <p>Questions? Interested in hosting a show? <a href="mailto:mclausaudio@gmail.com?subject=SutroFM - admin">Contact us</a>.</p>
</marquee>
<div class="container">
            <h3 class="section-subtitle"><u>Week 8/5 - 8/11</u></h3>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-dark">
  <tr>
    <th> Day/Time (PST) </th>  
    <th> Sunday </th>
    <th> Monday </th> 
    <th> Tuesday </th>
    <th> Wednesday </th>
    <th> Thursday </th>
    <th> Friday </th>
    <th> Saturday </th>
  </tr>
    <tr>
    <td>4p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Cultivated Frequencies</td>
  </tr>
  <tr>
    <td>5p</td>
    <td>This Is Not A Seance w/ Joey Larko</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Cultivated Frequencies</td>
  </tr>
    <tr>
    <td>6p</td>
    <td>This Is Not A Seance w/ Joey Larko</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Name Pending w/ Justin Peoples</td>
  </tr>
    <tr>
    <td>7p</td>
    <td> - </td> 
    <td> - </td>
    <td>The Seanco Show</td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Name Pending w/ Justin Peoples</td>
  </tr>
    <tr>
    <td>8p</td>
    <td>Silva Electronics Radio</td> 
    <td> - </td>
    <td>IPvX.FM w/ Vidiian</td>
    <td>Enchillada Radio w/ Seb Hall & Justin Peoples</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>9p</td>
    <td> - </td> 
    <td>Fantom FWD (featuring Equilet)</td>
    <td>IPvX.FM w/ Vidiian</td>
    <td> - </td>
    <td>Brouhaha Radio</td>
    <td>Squirrels On Radio</td>
    <td> - </td>
  </tr>
    <tr>
    <td>10p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td>Surface Tension</td>
    <td> - </td>
  </tr>
    <tr>
    <td>11p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>12a</td>
    <td>World-building w/ The Creatrix</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>1a</td>
    <td>World-building w/ The Creatrix</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
</table>    
</div>            


            <h3 class="section-subtitle"><u>Week 8/12 - 8/18</u></h3>
<div class="table-responsive">
    <table class="table table-hover table-bordered table-dark">
  <tr>
    <th> Day/Time (PST) </th>  
    <th> Sunday </th>
    <th> Monday </th> 
    <th> Tuesday </th>
    <th> Wednesday </th>
    <th> Thursday </th>
    <th> Friday </th>
    <th> Saturday </th>
  </tr>
  <tr>
    <td>4p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
  <tr>
    <td>5p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>6p</td>
    <td>This Is Not A Seance</td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>7p</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>8p</td>
    <td>Silva Electronics Radio</td> 
    <td> They're Here Radio </td>
    <td> Plot Twist Radio w/ Sepehr</td>
    <td>Enchillada Radio w/ Seb Hall & Justin Peoples</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>9p</td>
    <td>The Black Lodge</td> 
    <td>They're Here Radio</td>
    <td>Plot Twist Radio w/ Sepehr</td>
    <td> -</td>
    <td>Brouhaha Radio</td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>10p</td>
    <td>The Black Lodge</td> 
    <td>That's Deck</td>
    <td>Loren S and Ben B</td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>11p</td>
    <td> - </td> 
    <td>That's Deck</td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>12a</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
    <tr>
    <td>1a</td>
    <td> - </td> 
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
    <td> - </td>
  </tr>
</table>    
</div>
</div>
    
    
    
    
</section>

<% include ./partials/footer %>
