<% include ./partials/header %>


<div class="container text-center">
    <h1>Shows</h1> 
    
    <div class="row">
        <div id="rj-djs-list"> </div>
    </div>
</div>





<% include ./partials/footer %>

