section {
    padding-top:2rem;
    background-color:transparent;
}

.section-title {
    padding: 2rem 0;
}

.section-subtitle     {
    padding: 2rem 0;
}

section iframe {
    padding-bottom:10rem;
}