nav {
    /*position:absolute !important;*/
    width:100%;
    z-index:100;
    background-color: rgba(0, 0, 0, .4);
    /*height:45px;*/
}

.nav-link {
    color:white!important;
    opacity:1;
}
.nav-link:hover {
    color:red!important;
}
.navbar-brand:hover {
    color:teal!important;
}

.nav-left-side {
    position:fixed;
    top:25%;
    align-items: center;
    background-color: rgba(0, 0, 0, .4);
    
    i {
        padding: .8rem;
    }
    
    &:hover {
        background-color: rgba(0, 0, 0, .8);
    }
    
    
    /*i:hover + &__text {*/
    /*    display:inline-block;*/
    /*}*/
    
    
    &__text {
        display:none;
    }
    
}
